/*MENU*/
@media screen and (max-width: 940px) {
    .topnav-right a {
        display: none;
    }
    .topnav:last-child .icon {
      float: right;
      display: block;
    }
}
  
@media screen and (max-width: 940px) {
    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}
/*IMAGEM DE FUNDO INICIAL*/

@media (max-width: 1200px) {
    section.module.parallax-1{
        height: 100%;
        background-image: url(img/tablet1.png) ;
        
    }
    section.module.parallax-1 h1{
        margin-left: 80px;
        margin-right: 100px;
    }
    span{
        color: white;
    }
}
@media (max-width: 940px){
    section.module.parallax-1{
        height: 100%;
        background-image: url(img/tablet2.png);
    }
}
@media (max-width: 800px){
    section.module.parallax-1{
        height: 100%;
        background-image: url(img/celular3.png);
    }
}
@media (max-width: 600px){
    section.module.parallax-1{
        height: 100%;
        background-image: url(img/celular1.png);
    }
    section.module.parallax-1 h1 {
        font-size: 40px;
    }
}
/*CARDS SERVIÇOS*/

@media (max-width: 940px){
    .caixa2{
        height: 50%; 
        width: 500px;       
    }
}
@media (max-width: 795px){
    .caixa2{
        height: 55%;
        width: 55%;
    }
    .caixa2 .i2{
        border-bottom: 0;
        width: 400px;
        height: 200px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}
@media (max-width:720px){
    .caixa2{
        width: 380px;
    }
}
@media (max-width: 568px){
    .caixa2{
        height: 60%;
        width: 300px;
    }
    .caixa2 .i2{
        border-bottom: 0;
        width: 300px;
        height: 200px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}
/*RODAPÉ*/
@media (max-width: 1100px) {
    footer{
        height: 700px;
        bottom: 0px;
    }
    .conteudo{
        flex-wrap: wrap;
        flex-direction: column;
    }
}


@media (max-width: 470px) {
    footer{
        height: 900px;
        bottom: 0px;
    }
    section.module.parallax-1{
        height: 100%;
        background-image: url(img/celular3.png);
        
    }
    section.module.parallax-1 h1 {
        font-size: 30px;
    }
    
}

